.yu-badge {
  position: relative;
  display: inline-block;
  .badge {
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    padding: 0 7px;
    text-align: center;
    background-color: $danger;
    display: inline-block;
    color: #fff;
    font-size: $tiny;
    position: absolute;
    right: -3px;
    top: -7px;
  }
  .slot {
    display: inline-block;
    padding: 5px;
  }
  .yu-button {
    margin: 0;
  }
  .dot {
    background-color: $danger;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    right: 3px;
    top: 0;
  }
}
