.yu-cascader {
  @include angleAnimation();

  @include zoomInTop();

  position: relative;
  .options {
    background-color: #fff;
    position: absolute;
    top: 40px;
    z-index: 1000;
    border: 1px solid $border;
    margin-top: 8px;
    border-radius: $radius;
    color: $text;
    box-shadow: $box-shadow;
    font-size: 0;
    overflow: hidden;
    /*过渡*/
    /* 可以设置不同的进入和离开动画 */
    /* 设置持续时间和动画函数 */

    div.cascader {
      min-width: 160px;
      height: 200px;
      overflow-y: auto;
      display: inline-block;
      border-left: 1px solid $border;
      margin-right: -1px;
      &:first-child {
        border-left: none;
      }
      &::-webkit-scrollbar {
        width: 4px
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: $border;
      }
      &:last-child {
        padding-right: 1px;
      }
    }
    .option {
      font-size: $normal;
      padding: 8px 8px;
      &:hover:not(.disabled) {
        background-color: $background;
      }
      &.active {
        background-color: $background;
        font-weight: bold;
        color: $primary;
      }
      &.hide {
        display: none;
      }
      &.disabled {
        color: $lighter-text
      }
      i {
        float: right;
        color: $lighter-text;
      }
    }
    .yu-loading {
      padding-top: 8px;
    }
  }
}
