.yu-collapse-item {
  width: 100%;
  .content {
    font-size: $normal;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    margin-bottom: -1px;
    display: inline-block;
    .top {
      border-top: 1px solid $border;
      height: 40px;
      cursor: pointer;
      line-height: 40px;
    }
    .bottom {
      width: 100%;
      height: 0;
      overflow: hidden;
      transition: 0.3s height ease-in-out;
    }
    i.icon-angle-down {
      float: right;
      cursor: pointer;
      transition: all .2s ease;
    }
    &.active {
      i.icon-angle-down {
        transform: rotate(-180deg);
      }
    }
  }
}
