.yu-date-picker {
  @include zoomInTop();

  position: relative;
  .container {
    width: 330px;
    .head {
      text-align: center;
      a {
        display: inline-block;
        padding: 8px;
        &:hover {
          color: $primary;
          cursor: pointer;
        }
      }
      div {
        display: inline-block;
        padding: 8px;
        font-size: $normal;
        span:hover {
          color: $primary;
          cursor: pointer;
        }
      }
      .left {
        float: left;
      }
      .right {
        float: right;
      }
    }
    background-color: #fff;
    position: absolute;
    top: 35px;
    z-index: 1000;
    min-width: 175px;
    border: 1px solid $border;
    padding: 12px;
    margin-top: 8px;
    border-radius: 4px;
    color: $text;
    box-shadow: $box-shadow;
    table.date {
      width: 100%;
      margin: 0 auto;
      thead {
        tr {
          th {
            border-bottom: 1px solid $border;
            font-size: 14px;
            width: 42px;
            height: 40px;
            font-weight: normal;
            color: $text;
          }
        }
      }
      tbody {
        tr td {
          text-align: center;
          font-size: 14px;
          width: 42px;
          height: 40px;
          font-weight: normal;
          color: $text;
          &:hover:not(.otherMonth):not(.disabled) {
            color: $primary;
            cursor: pointer;
          }
          &.otherMonth {
            color: $lighter-text;
          }
          &.currentDay {
            color: $primary;
            font-weight: bold;
          }
          &.active:not(.disabled) {
            div {
              display: inline-block;
              text-align: center;
              line-height: 24px;
              width: 24px;
              height: 24px;
              background-color: $primary;
              border-radius: 12px;
              color: #fff;
            }
          }
          &.disabled {
            color: $lighter-text;
            cursor: not-allowed;
          }
        }
      }
      &.month {
        tr td {
          width: 80px;
          height: 60px;
          &.active:not(.disabled) {
            div {
              width: 80px;
              height: 60px;
              border-radius: 0;
              background-color: #fff;
              line-height: 60px;
              font-weight: bold;
              color: $primary;
            }
          }
          &.disabled {
            color: $lighter-text;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
