.yu-dialog {
  .dialog-content {
    display: inline-block;
    cursor: pointer;
  }
  .dialog {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    z-index: 99999;
    .dialog-inner {
      position: absolute;
      transform: translate(-50%, -50%);
      &.small {
        width: 15%;
        top: 50%;
        left: 50%;
      }
      &.normal {
        width: 30%;
        top: 50%;
        left: 50%;
      }
      &.large {
        width: 50%;
        top: 50%;
        left: 50%;
      }
      &.full {
        width: 100%;
        top: 0;
        left: 50%;
        height: 100%;
        margin: 0;
        box-sizing: border-box;
        transform: translate(-50%, 0);
      }
      padding: 20px;
      background-color: #fff;
      opacity: 1;

      .inner {
        .dialog-title {
          margin-bottom: 10px;
          font-size: $huge;
          color: $text;
          font-weight: bold;
          i {
            float: right;
            cursor: pointer;
            transition: color .4s;
            &:hover{
              color: $primary;
            }
          }
        }
        .inner-content {
          color: $text;
          margin: 20px 0;
        }
      }
      .dialog-btn {
        float: right;
      }

    }
  }
  .dialog.center {
    .dialog-inner {
      .inner {
        .dialog-title {
          text-align: center;
        }
      }
      .dialog-btn {
        float: none;
        text-align: center;
      }
      .inner-content {
        text-align: center;
      }
      .inner-other {
        text-align: center;
      }
    }
  }
}
body.lock {
  height: 100%;
  overflow: hidden;
}
