
.yu-dropdown-item {
  list-style: none;
  padding: 0 14px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: $normal;
  &:hover {
    background-color: lighten($primary, 36);
    color: $primary;
  }
  &.disabled {
    color: $lighter-text;
    cursor: not-allowed;
    background-color: #fff;
  }
  &.divided {
    border-top: 1px solid lighten($info, 30);
  }
}
