.yu-field {
  color: $text;
  font-size: 0;
  margin-bottom: 14px;
  vertical-align: top;
  display: block;
  &.flex {
    display: flex;
  }
  &.inline {
    display: inline-block;
    .field {
      width: auto;
      .yu-input {
        width: auto;
        textarea {
          width: auto;
        }
      }
    }
  }
  .noLabel {
    display: none !important;
  }
  label {
    font-size: 16px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    box-sizing: border-box;
    padding-right: 12px;
  }
  label.top {
    flex-wrap: nowrap;
    display: block;
    margin-bottom: 12px;
  }
  label.left {
    display: inline-block;
    text-align: left;
  }
  label.right {
    display: inline-block;
    text-align: right;
  }

  .field {
    vertical-align: top;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    .yu-input {
      margin: 0;
      input {
        width: 100%;
      }
      textarea {
        width: 95%;
      }
    }
    .yu-switch {
      margin-top: 10px;
    }
    &.cascader {
      min-width: 500px;
    }
  }
  .three.field {
    min-width: 370px;
  }
  &.error {
    .field {
      text-align: left;
      .yu-input {
        input {
          border: 1px solid $danger;
        }
        textarea {
          border: 1px solid $danger;
        }
      }
      .errorMessage {
        font-size: 14px;
        color: $danger;
        line-height: 30px;
      }
    }
  }

}
