.yu-form {
  &.inline {
    width: 100%;
    .yu-field {
      padding-right: 14px;
      vertical-align: top;
      display: inline-block;
      label {
        width: auto;
      }
      .field {
        width: auto;
      }
    }
  }
}
