
.yu-input {
  @include zoomInTop();

  position: relative;
  display: block;
  margin-right: 8px;
  margin-bottom: 12px;
  font-size: 0;
  @include generalAllSizeInput();
  input {
    width: 175px;
    height: $normal-height;
    padding: 0 14px;
    outline: none;
    font-size: $normal;
    color: $text;
    font-family: $font-family;
    box-sizing: border-box;

    &::placeholder {
      color: $lighter-text;
      font-weight: lighter;
    }
    border: 1px solid $border;
    border-radius: $radius;
    &:hover {
      border: 1px solid $lighter-text;
    }
    &:focus {
      border: 1px solid $primary;
    }
    transition: all ease .4s;
    &.prefix {
      padding-left: 30px;
    }
    &.suffix {
      padding-right: 30px;
    }
  }
  &.disabled {
    input {
      color: $lighter-text;
      background-color: $background;
      &:hover {
        border: 1px solid $border;
        cursor: not-allowed;
      }
      &:focus {
        border: 1px solid $border;
      }
    }
  }

  span.prefix {
    position: relative;
    vertical-align: top;
    color: $lighter-text;
    i {
      position: absolute;
      left: 10px;
    }
  }

  span.clearable {
    position: relative;
    vertical-align: top;
    color: $light-text;
    i {
      position: absolute;
      left: -25px;
    }
  }

  span.suffix {
    position: relative;
    vertical-align: top;
    color: $lighter-text;
    i {
      position: absolute;
      left: -25px;
    }
  }

  textarea {
    padding: 8px;
    border-color: $border;
    border-radius: 4px;
    font-size: $normal;
    outline: none;
    box-sizing: border-box;
    &:hover {
      border: 1px solid $lighter-text;
    }
    &:focus {
      border: 1px solid $primary;
    }
    transition: all ease .4s;
    &::placeholder {
      color: $dark-border;
      font-weight: lighter;
    }
  }

  input.append {
    border-radius: 4px 0 0 4px;
  }

  input.prepend {
    border-radius: 0 4px 4px 0;
  }

  input.number {
    padding-right: 0;
  }

  .options {
    background-color: #fff;
    position: absolute;
    top: 35px;
    z-index: 1000;
    min-width: 175px;
    border: 1px solid $border;
    margin-top: 8px;
    border-radius: 4px;
    color: $text;
    box-shadow: $box-shadow;
    &.overflow {
      overflow: auto;
      max-height: 150px;
      &::-webkit-scrollbar {
        width: 4px
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: $border;
      }
    }
    .option {
      font-size: $normal;
      padding: 12px 8px;
      &:hover {
        background-color: $background;
      }
      &.active {
        background-color: $background;
        font-weight: bold;
        color: $primary;
      }
      &.hide {
        display: none;
      }
      &.disabled {
        color: $lighter-text;
        cursor: not-allowed;
      }
    }
  }
}
