
@include fadeIn();
@include zoomInTop();
.yu-message-box {
  display: inline-block;
  font-family: $font-family;
  .message-dialog {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 3s;
    background-color: rgba(0, 0, 0, .3);
    .dialog-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #fff;
      box-sizing: border-box;
      padding: 12px 20px;
      border-radius: 5px;
      width: 420px;
      overflow: hidden;
      border: 1px solid $light-border;
      .message-title {
        font-size: $huge;
        position: relative;
        height: 26px;
        i {
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          color: $light-text;
          font-size: $huge;
          &:hover{
            color: $primary;
          }
        }
      }
      .message-text {
        margin: 15px 0;
        vertical-align: center;
        position: relative;
        font-size: 18px;
        i {
          font-size: 24px;
          color: $warning;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        div {
          display: inline-block;
          &.margin {
            margin-left: 35px;
          }
        }
      }
      .message-input {
        margin-bottom: 40px;
        input {
          width: 100%;
          outline: none;
          border: 1px solid $dark-border;
          margin: 10px 0;
          height: 40px;
          border-radius: 5px;
          box-sizing: border-box;
          padding: 0 20px;
          &:focus {
            border: 1px solid $primary;
          }
        }
        .input-title {
          margin-top: 10px;
          font-size: $normal;
          color: $light-text;
        }
        .verification-result {
          font-size: $normal;
          color: $danger;
        }
      }
      .message-btn {
        text-align: right;
      }
      .message-cancel {
        display: inline-block;
      }
      .message-confirm {
        display: inline-block;
      }
    }
  }
  .message-trigger {
    cursor: pointer;
    color: $primary;
  }
  .message-dialog.center {
    text-align: center;
    .message-btn {
      display: inline-block;
    }
  }
}
 .lock-scroll {
   height: 100%;
   overflow: hidden;
 }
