@include fade();

.yu-notification {
  display: inline-block;
  font-family: $font-family;
  .notification {
    position: fixed;
    z-index: 9999;
    width: 330px;
    background-color: #fff;
    box-sizing: border-box;
    right: -400px;
    padding: 10px 20px;
    box-shadow: $box-shadow;
    margin-top: 20px;
    margin-right: 20px;
    transition: all 0.3s linear;
    .notification-content {
      display: inline-block;
    }
    .notification-title {
      font-size: $large;
      font-weight: 800;
      margin-bottom: 10px;
      i {
        position: absolute;
        cursor: pointer;
        right: 20px;
        top: 10px;
      }
    }
    .notification-content {
      margin-bottom: 10px;
      font-size: $normal;
      color: $text;
    }
    .notification-icon {
      display: inline-block;
      padding-right: 10px;
      position: relative;
      top: -25px;
      left: 0;
      i {
        font-size: 24px;
        color: $info;
      }
    }
  }
  .notification-btn {
    display: inline-block;
  }
  .notification.top-right {
    top: 0;
  }
  .notification.active {
    right: 0;
  }
  .notification.top-left {
    left: -400px;
    margin-left: 20px;
    margin-right: 0;
    top: 0;
  }
  .notification.top-left.active {
    left: 0;
  }
  .notification.bottom-right {
    bottom: 0;
    margin-bottom: 20px;
    margin-top: 0;
    right: -400px;
  }
  .notification.bottom-right.active {
    right: 0;
  }
  .notification.bottom-left {
    bottom: 0;
    margin-bottom: 20px;
    margin-top: 0;
    left: -400px;
    margin-right: 0;
    margin-left: 20px;
  }
  .notification.bottom-left.active {
    left: 0;
  }
}
