.yu-pagination {
  .yu-paging {
    display: inline-block;
    padding: 0;
    list-style: none;
    user-select: none;
    font-weight: bold;
    .paging-item {
      display: inline;
      font-size: $normal;
      position: relative;
      padding: 6px 12px;
      text-decoration: none;
      cursor: pointer;
      color: $text;
      transition: all .2s;
      &:hover {
        color: $primary;
      }
      &.paging-item--disabled,
      &.paging-item--more {
        background-color: #fff;
        color: $light-text;
      }
      &.paging-item--disabled {
        cursor: not-allowed;
        opacity: .75;
      }
      &.paging-item--more,
      &.paging-item--current {
        cursor: default;
      }
      /*选中*/
      &.paging-item--current {
        color: $primary;
      }
    }
  }
  #pagination-head.yu-head {
    display: inline-block;
    .yu-input span.suffix {
      line-height: 32px;
    }
    .yu-input span.clearable i {
      line-height: 32px;
    }
    .yu-input input {
      height: 32px;
      width: 130px;
    }
  }
  .pagination-go {
    display: inline-block;
    color: $text;
    input {
      margin: 0 10px;
      width: 48px;
      height: 28px;
      border-radius: $radius;
      border: 1px solid $border;
      padding-left: 9px;
      box-sizing: border-box;
      outline: none;
      transition: border .4s;
      font-size: $normal;
      &:focus {
        border-radius: 5px;
        border: 1px solid $primary;
      }
    }
  }
}

/*带有背景的*/
.yu-pagination.background {
  .yu-paging {
    .paging-item {
      background-color: lighten($info, 37);
      margin-right: 10px;
      border-radius: 3px;
      &:hover {
        color: $primary;
      }
      &.paging-item--current {
        background-color: $primary;
        color: white;
      }
    }
  }
}
