.yu-rate {
  padding: 5px 0;
  height: 30px;
  font-size: 0;
  line-height: 30px;
  i{
    transition: all .4s;
    display: inline-block;
    width: 30px;
    height: 20px;
    box-sizing: border-box;
    font-size: 20px;
    color: $lighter-text;
  }
  .icon-star{
    color: $rate-star;
    transform: scale(1.1);
  }
  &:hover{
    cursor: pointer;
  }
  span{
    font-size: 14px;
    color: $text;
    display: inline-block;
  }
}
