
.yu-scroll-select {
  @include zoomInTop();

  position: relative;
  .line {
    position: absolute;
    top: 80px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    height: 40px;
    width: 92%;
    left: 4%
  }
  .container {
    z-index: 10000;
    position: absolute;
    top: 40px;
    width: 200px;
    box-shadow: $box-shadow;
    border-radius: 4px;
    margin-top: 8px;
    border: 1px solid $border;
    background-color: #fff;
    .scrolls {
      color: $text;
      font-size: 0;
      .scrollList {
        white-space: nowrap;
        font-size: 0;
        box-sizing: border-box;
        display: inline-block;
        max-height: 200px;
        overflow-y: overlay;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 0;
        }
        &:hover {
          &::-webkit-scrollbar {
            width: 4px;
          }
        }
        &::-webkit-scrollbar-thumb {
          border-radius: 2px;
          background-color: $border;
        }
        width: 33.3%;
        ul {
          display: block;
          margin: 80px auto;
          padding: 0;
          li {
            font-size: $normal;
            text-align: center;
            display: block;
            margin: 0 auto;
            list-style: none;
            height: $normal-height;
            line-height: $normal-height;
            &:hover:not(.disabled) {
              background-color: $background;
              line-height: $normal-height;
            }
            &.active:not(.disabled){
              font-weight: bold;
            }
            &.disabled{
              color: $lighter-text;
              cursor: not-allowed;
            }
          }
        }
      }
      .button {
        box-sizing: border-box;
        border-top: 1px solid $border;
        width: 100%;
        height: $normal-height;
        line-height: $normal-height;
        text-align: right;
        span {
          margin-right: 20px;
          color: $text;
          font-size: $small;
          &.confirm {
            color: $primary;
            font-weight: bold;
          }
        }
        background-color: #fff;
        font-size: 16px;
        border-radius: 4px;
      }
    }

  }
}
