
.yu-select {
  @include zoomInTop();

  position: relative;
  .options {
    background-color: #fff;
    position: absolute;
    top: 40px;
    &.medium{
      top: $medium-height;
    }
    &.small{
      top: $small-height;
    }
    &.mini{
      top: $mini-height;
    }
    z-index: 1000;
    min-width: 175px;
    border: 1px solid $border;
    margin-top: 8px;
    border-radius: 4px;
    color: $text;
    box-shadow: $box-shadow;
    &.overflow {
      overflow: auto;
      max-height: 150px;
      &::-webkit-scrollbar {
        width: 4px
      }
      &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: $border;
      }
    }
  }
  @include angleAnimation();

  &.prepend {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    input {
      border-radius: 4px 0 0 4px;
    }
    & > .yu-input {
      margin: 0;
    }
  }

  &.append {
    display: inline-block;
    vertical-align: top;
    input {
      border-radius: 0 4px 4px 0;
    }
    & > .yu-input {
      margin: 0;
    }
  }

  .selected {
    margin-top: 12px;
  }

}
