.yu-step {
  display: inline-block;
  width: calc(100% / 3);
  overflow: hidden;
  .head {
    margin-bottom: 20px;
    .status{
      text-align: center;
    }
    .icon{
      display: inline-block;
      padding: 2px 4px;
      width: 30px;
      height: 30px;
      box-sizing: border-box;
      background-color: #fff;
      color: $light-text;
      border-radius: 50%;
      border: 2px solid $light-text;
    }
    .have-icon{
      i{
        font-size: 30px;
      }
    }
    .success{
      font-weight: 800;
      color: $success;
      i{
        color: $success;
      }
    }
    .error{
      i{
        color: $danger;
      }
    }
    .warning{
      i{
        color: $warning;
      }
    }
    .finish{
      i{
        color: $primary;
      }
    }
    .have-success{
      i{
        color: $success;
      }
    }
    .have-error{
      i{
        color: $danger;
      }
    }
    .have-warning{
      i{
        color: $warning;
      }
    }
    .have-finish{
      i{
        color: $primary;
      }
    }
    .have-icon-conduct{
      color: #000;
    }
    .conduct {
      color: #000;
      border: 2px solid #000;
    }
    .line {
      height: 2px;
      min-width: 100px;
      background-color: $light-text;
      margin-left: 30px;
      margin-top: -15px;
      vertical-align: middle;
    }
    .success-icon {
      color: $success;
      border: 2px solid $success;
    }
    .have-icon-success{
      color: $success;
    }
    .line-success {
      background-color: $success;
    }
  }
  &:last-child {
    .head {
      margin-bottom: 5px;
    }
  }
  .main{
    .conduct-text{
      color: #000;
      font-weight: 800;
    }
    .description{
      padding: 5px 10px 5px 0;
      font-size: $small;
      color: $light-text;
    }
    .success-text{
      color: $success;
      font-weight: 600;
    }
    .success{
      font-weight: 800;
      color: $success;
      i{
        color: $success;
      }
    }
    .error{
      color: $danger;
      i{
        color: $danger;
      }
    }
    .wait{
      i{
        color: $warning;
      }
    }
    .finish{
      i{
        color: $primary;
      }
    }
    .have-success{
      i{
        color: $success;
      }
    }
    .have-error{
      i{
        color: $danger;
      }
    }
    .have-warning{
      i{
        color: $warning;
      }
    }
    .have-finish{
      i{
        color: $primary;
      }
    }
  }
}
/*简洁风格*/
.yu-step.simple{
  background-color: lighten($info, 35);
  text-align: center;
  padding: 10px 0;
  .head{
    margin-bottom: 5px;
    display: inline-block;
    .have-icon{
      .iconfont{
        font-size: $huge;
      }
    }
  }
  .main{
    display: inline-block;
  }
  .arrow{
    float: right;
    i{
      font-size: $huge;
      color: $light-text;
    }
  }
  &:last-child .arrow{
    display: none;
  }
}
/*居中*/
.yu-step.center {
  text-align: center;
  position: relative;
  overflow: visible;
  .head {
    margin-bottom: 20px;
    .line {
      position: absolute;
      z-index: -2;
      left: 40%;
      right: -50%;
    }
  }
}
