.yu-switch {
  font-size: 0;
  color: $text;
  input {
    display: none;
  }
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 12px;
  span {
    font-size: $normal;
  }
  span:nth-child(1) {
    margin-right: 8px;
  }
  span:nth-child(3) {
    margin-left: 8px;
  }
  .switch {
    font-size: $normal;
    display: inline-block;
    width: 40px;
    height: 20px;
    background: $dark-border;
    border-radius: 10px;
    padding: 1px 2px;
    box-sizing: border-box;

    .circle {
      margin-top: 1px;
      box-sizing: border-box;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: #fff;
      border-radius: 8px;
      transition: all .4s ease;
      transform: translateX(0px);
    }
    transition: background-color .4s ease;
    &.on {
      .circle {
        transition: all .4s ease;
        transform: translateX(20px);
      }
      @include generalAllColorSwitch();
    }
  }
  &.disabled {
    color: lighten($text, 25);
    cursor: not-allowed;
  }
}
