.yu-table {
  border-collapse: collapse;
  thead {
    tr {
      th {
        color: $text;
        box-sizing: border-box;
        padding: 14px 0;
        border-bottom: 1px solid $border;
        .cell {
          padding: 0 8px;
          text-align: left;
        }
      }
    }
  }

  tfoot {
    tr {
      td {
        color: $text;
        box-sizing: border-box;
        padding: 14px 0;
        border-bottom: 1px solid $border;
        .cell {
          padding: 0 8px;
          text-align: left;
        }
      }
      background-color: $background;
    }
  }

  tbody {
    // 条纹
    &.stripe {
      tr:nth-child(2n) {
        background-color: $trBackground;
        &:hover {
          background-color: $background;
        }
      }
    }

    tr {
      td {
        color: $text;
        box-sizing: border-box;
        padding: 14px 0;
        border-bottom: 1px solid $border;
        .cell {
          padding: 0 8px;
        }
        a {
          color: $primary;
          cursor: pointer;
          &:hover {
            color: lighten($primary, 10);
          }
        }
      }
      transition: background-color .4s;
      &.primary {
        background-color: lighten($primary, 35);
      }
      &.success {
        background-color: lighten($success, 47);
      }
      &.danger {
        background-color: lighten($danger, 27);
      }
      &.warning {
        background-color: lighten($warning, 42);
      }
      &.info {
        background-color: lighten($info, 38);
      }
      &:hover {
        background-color: $background;
      }
    }
  }

  &.celled {
    td, th {
      border-right: 1px solid $border;
    }
    border: 1px solid $border;
  }
}
