
.yu-tabs {
  font-size: $normal;
  .tabs-nav {
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    position: relative;
    i {
      display: inline-block;
      float: right;
      margin: 10px 20px;
      font-size: $huge;
    }
    .line {
      display: block;
      height: 3px;
      width: 84px;
      background-color: $primary;
      position: absolute;
      transition: all .3s linear;
      bottom: 0;
      margin: 0;
    }
    li {
      border-bottom: 3px solid #fff;
    }
    li.active {
      border-bottom: 3px solid $primary;
    }
  }
  .tabs-item {
    position: relative;
    padding: 10px 20px;
  }
}

.clearfix:after {
  content: '';
  clear: both;
  overflow: hidden;
  height: 0;
  display: block;
  *zoom: 1;
}

/*card 卡片风格*/
.yu-tabs.card {
  .tabs-nav {
    height: 40px;
    border-left: none;
    border-right: none;
    li {
      background-color: #fff;
      border-right: 1px solid #ddd;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      &:first-child {
        border-left: 1px solid #ddd;
        border-top-left-radius: 3px;
      }
      &:last-child {
        border-top-right-radius: 3px;
      }
    }

    li.active {
      border-bottom: 1px solid #fff;
      color: $primary;
    }
    .line {
      display: none;
    }
  }
}

/*border-card */
.yu-tabs.border-card {
  box-shadow: $box-shadow;
  .tabs-nav {
    height: 40px;
    background-color: lighten($info, 35);
    border: 1px solid $dark-border;
    li {
      display: inline-block;
      box-sizing: border-box;
      border-bottom: none;
    }
    .line {
      display: none;
    }
    li.active {
      background-color: #fff;
      border-bottom: 2px solid #fff;
      border-left: 1px solid $dark-border;
      border-right: 1px solid $dark-border;
      color: $primary;
      &:first-child {
        border-left: none;
      }
    }
  }
}

/*不同方位的tab栏*/
/*top*/
/*bottom*/
.yu-tabs.default.top{
  display: flex;
  flex-direction: column;
  .tabs-nav {
    margin: 0;
    position: relative;
    .line {
      display: block;
      height: 3px;
      width: 84px;
      background-color: $primary;
      position: absolute;
      transition: all .3s linear;
      left: 0;
      bottom: 0;
      margin: 0;
    }
    li {
      box-sizing: border-box;
      border-bottom: 3px solid #fff;
    }
    li.active {
      border-bottom: none;
    }
  }
}
.yu-tabs.bottom {
  display: flex;
  flex-direction: column-reverse;
  .tabs-nav {
    margin: 0;
    position: relative;
    .line {
      display: block;
      height: 3px;
      width: 84px;
      background-color: $primary;
      position: absolute;
      transition: all .3s linear;
      left: 0;
      bottom: 0;
      margin: 0;
    }
    li {
      border-bottom: 3px solid #fff;
    }
    li.active {
      border-bottom: none;
    }
  }
}

.yu-tabs.bottom.border-card {
  .tabs-nav {
    background-color: lighten($background, 15);
    border: 1px solid $dark-border;
    border-left: none;
    border-right: none;
    li {
      margin-top: -1px;
    }
    li.active {
      background-color: #fff;
      border-bottom: 2px solid #fff;
      border-left: 1px solid $dark-border;
      border-right: 1px solid $dark-border;
      color: #409EFF;
      &:first-child {
        border-left: none;
      }
    }
  }
}

/*left*/
.yu-tabs.left {
  display: flex;
  .tabs-nav {
    max-width: 150px;
    border: none;
    text-align: center;
    position: relative;
    .line {
      display: block;
      height: 40px;
      width: 3px;
      background-color: $primary;
      position: absolute;
      transition: all .3s linear;
      right: 0;
      top: 0;
      margin: 0;
    }
    li {
      display: block;
      border-bottom: none;
      border-right: 2px solid $light-border;
    }
    li.active {
      color: $primary;
    }
  }
  .tabs-item {
    width: calc(100% - 150px);
    .yu-tabs-item {
      width: 100%;
      color: $dark-text;
    }
  }
}

/*right*/
.yu-tabs.right {
  display: flex;
  flex-direction: row-reverse;
  .tabs-nav {
    max-width: 150px;
    border: none;
    text-align: center;
    position: relative;
    .line {
      display: block;
      height: 40px;
      width: 3px;
      background-color: $primary;
      position: absolute;
      transition: all .3s linear;
      left: 0;
      top: 0;
      margin: 0;
    }
    li {
      display: block;
      border-bottom: none;
      border-left: 2px solid $light-border;
    }
    li.active {
      color: $primary;
    }
  }
  .tabs-item {
    width: calc(100% - 150px);
    .yu-tabs-item {
      width: 100%;
      color: $dark-text;
    }
  }
}
