.yu-upload {
  color: $text;
  .input {
    display: none;
  }
  .defined {
    display: inline-block;
  }
  ul {
    margin: 20px 0;
    padding: 0;
    li {
      list-style: none;
      padding: 8px 4px;
      width: 300px;
      line-height: 30px;
      border-radius: 4px;
      .close {
        display: none;
      }
      &:hover {
        background-color: $border;
        .close {
          display: inline-block;
          margin: 0 8px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .status, .close {
        float: right;
      }
      .blue {
        color: $primary;
      }
      .red {
        color: $danger;
      }
      .green {
        color: $success
      }
      .orange {
        color: $warning;
      }
      .violet {
        color: darken($primary, 20);
      }
      .purple {
        color: darken($primary, 10);
      }
      .teal {
        color: lighten($success, 10)
      }
    }
    .fileName {
      padding: 0 20px;
    }
    .previewList {
      position: relative;
      margin-bottom: 12px;
      padding: 8px 16px;
      border: 1px solid $border;
      .imageContainer {
        vertical-align: middle;
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        img {
          width: 60px;
          max-height: 60px;
        }
      }
      .status {
        line-height: 60px;
      }
      .close {
        position: absolute;
        top: 0;
        right: 4px;
        display: none;
      }
    }
  }
  .imageUpload {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    line-height: 100px;
    text-align: center;
    img {
      vertical-align: middle;
      width: 100%;
    }
    i {
      color: $lighter-text;
      font-size: 50px;
    }
    border: 1px dashed $border;
    transition: all .4s;
    &:hover {
      border: 1px dashed $primary;
    }
  }
}
