@mixin hover($name,$color) {
  animation: $name 300ms;
  animation-fill-mode: forwards;
  @keyframes #{$name} {
    0% {
      background-color: $color;
    }
    100% {
      background-color: lighten($color, 10);
    }
  }
}
